// sass-lint:disable no-universal-selectors
* {
  box-sizing: border-box;
}

html,
body,
.main {
  height: 100%;
}

html,
body {
  background: var(--body-background);
  font-family: var(--app-font-family);
  font-size: var(--app-font-size);
  line-height: 1.75em;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
}

.title {
  border-bottom: var(--primary-color) solid 1px;
  color: var(--primary-color);
  text-align: left;
  width: 100%;
}

.small-font {
  color: var(--muted-text);
  font-size: 0.8em;
}

.button {
  border-radius: var(--button-border-radius);
  font-size: 1em;
  padding: 10px 50px;

  &.primary {
    background-color: var(--primary-color);
    color: var(--white);
  }
}

.error {
  color: var(--error-color);
}

div.input-field {
  margin-bottom: 10px;
}

.notification {
  margin: 0 10px;
  padding: 20px;
}

.material-icons {
  cursor: pointer;
}
