:root {
  /* Colors */
  --body-background: #efefef;
  --primary-color: #31b094;
  --error-color: #c00;
  --white: #fff;
  --muted-text: #7e807f;

  /* Spacers */
  --app-spacer: 20px;

  /* Font */
  --app-font-family: 'Raleway', sans-serif;
  --app-font-size: 15px;

  /* Button */
  --button-border-radius: 20px;
}
